<% form_for @user, :url => password_reset_path, :method => :put do |f| %>
  <%= f.error_messages %>
<div id="password_reset">
	 <h2>Change My Password</h2>
	<div id="password_reset_form">
	  <%= f.label :password %><br />
	  <%= f.password_field :password %><br />
	  <%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation %><br />
	<hr>
	  <%= f.submit "Update my password and log me in" %>
	</div>
</div>


<% end %>