<% @tasks.each do |task| %>
	<div id="task_<%= task.id %>" class="task" >
		<%= has_attachment(task) %>
		<ul>
			<li><span class="<%= get_status(task) %>"></span><%= link_to_unless_current h(description_heading(task.description)), task, :class => "tsk_name #{urgent?(task)}" %>
			</li>
			<li>
				<span class="tskWhoStatusTime"><%=  who_status_time(task) %></span>
				<%= comments(task) %>
				<%= resubmitted(task) %>
			</li>
		</ul>
	</div>
<% end %>