<% title "Videos" %>

<form id = "video_filter", name="sform" action="" style="display:inline;">
<label for="item_name">Filter on 
<%= text_field_tag("query", params['query'], :size => 10 ) %>
<%= select_tag "filter_on", options_for_select( [ ["title", 1], ["customer", 2] ])  %> : </label>
</form>

<%= observe_form 'video_filter',  :frequency => 0.5,
         :update => 'table',
         :before => "Element.show('spinner')",
         :success => "Element.hide('spinner')",
         :url => {:action => 'index'} %>

<div id="table">
<%= render :partial => "videos_list" %>
</div>

<p>
<%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner",
              :style =>"display: none;" ) %>
</p>

<p><%= link_to "New Video", new_video_path %></p>
