<h2><%= "URGENT!" if @task.urgent %></h2>
<p><%= @task.description.gsub(/\n/, "<br />") %><br />
<span style="color: #807f83; display: block; margin-top: 5px;">posted by: <%= @task.user.full_name %> - <%=  @task.created_at.strftime("%a. %d %b. @ %H:%M") %></span>
</p>
<p><a href="<%= @link_to_show_task %>"><%= @link_to_show_task %></a></p>

<p style="color: #807f83">If the above URL does not work try copying and pasting it into your browser.<br /><a href="mailto:tech@titelbild.de">tech@titelbild.de</a></p>