<style type="text/css" media="screen">
	a {
		color: #106ed3;
	}
	.statusCompleted {
		color: #5bab0a;
	}
	.statusActive {
		color: #ffa507;
	}
	.subText {
		color: #807f83;
	}
</style>

<h2 class="status<%= @status %>"><%= @status %></h2>
<p><a href="<%= @link_to_show_task %>"><%= @link_to_show_task %></a><br />
<span>If the above URL does not work try copying and pasting it into your browser.</span><p>

<p><%= @task.description.gsub(/\n/, "<br />") %><br /></p>

<% if @task.comments.length > 0 %>
<h3>Comments</h3>
<ul style="	list-style-type: none; margin-top: 10px;">
	<% @task.comments.each do |comment| %>
		<li style="margin-bottom: 10px"><%= comment.body %><br /><span style="color: #424143">comment by: <%= comment.full_name %></span></li>
	<% end %>
</ul>
<% end %>

<p style="color: #807f83">If you continue to have problem please feel free to contact us.<br />
<a href="mailto:tech@titelbild.de">tech@titelbild.de</a></p>