<% form_for @user_session, :url => user_session_path do |f| %>
<fieldset id="login">
  <legend>Login <%= link_to "(Signup)", new_account_path %></legend>
  <%= f.label "Email:" %> <%= f.text_field :login, :size => 22 %><span><%= @user_session.errors.on :login %></span><br />
  <%= f.label "Password:" %> <%= f.password_field :password, :size => 22 %><br />
  <%= f.check_box :remember_me %> Remember me on this computer.
</fieldset>
<div id="user_submit">
	<%= f.submit "login" %><%= link_to "Cancel", :back %>
</div>
<% end %>



