<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Tasks: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'users' %>
  <%= javascript_include_tag 'prototype', 'effects','user', 'application', 'controls' %>
</head>
<body>
	<div id="users_header">
		<h1>my account</h1>
	</div>
	<div id="page">
		<div id="user_content">
			<% if flash[:notice] %>
			<div class="notice">
				<%= flash[:notice] %>
			</div>
			<% end %>
			<%= yield  %>
		</div>
		<p style="clear:both;text-align:center;position:relative;top:25px;padding:0px;margin:0px"></p>
	</div>
</body>
</html>